<div class="chat-container" ng-controller="ChatbotController as vm">
  <div class="header">AI assistant</div>
  <div class="messages">
    <div class="message" ng-class="{'received': msg.type == 'received', 'sent': msg.type == 'sent'}" ng-repeat="msg in vm.messages">
      <span ng-bind-html="msg.content"></span>
    </div>
  </div>
  <div class="input-area">
    <input type="text" placeholder="Send a message" ng-model="vm.newMessageContent">
    <button ng-click="vm.sendMessage()">Send</button>
    <button ng-click="vm.clearMessages()">Clear</button>
  </div>
</div>
